Body{
    background-color: #07131F;
    font-family: 'EngraversGothic', sans-serif;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
        overflow-y: auto;
    }
    
}

@font-face {
    font-family: 'EngraversGothic';
    src: url('./fonts/Engravers.otf') format('opentype'); /* Updated path */
    font-weight: normal;
    font-style: normal;
}

::selection {
  background-color: #F6265A;
  color: white; /* or any text color that looks good on the pink */
}

.splash-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.splash-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.character-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.splash-screen .logo-container img{
    width: 70vw;
    height: auto;
    animation: fadeIn 2s ease-in-out;
}

.splash-screen .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -70px;
}

.splash-screen .menu a{
    font-family: 'EngraversGothic', sans-serif;
    text-transform: uppercase;
    letter-spacing: 9px;
    color: white;
    font-family: 'EngraversGothic', serif;
    text-decoration: none;
    margin-bottom: 14px;
    font-size: 1.3rem;
    opacity: 0.75;
    transition: opacity 0.3s ease-in-out;
}

.splash-screen .menu a:hover{
    opacity: 1;
}

.character-container .heading{
    margin-top: 5vh;
}

.img-header{
    width: 35vw;
    height: auto;
    max-width: 600px;
    margin-bottom: 20px;
}

.character-selection{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    width: 70vw;
}

.character-container .character-selection .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 60px;
    margin-top: 0px;
    font-family: 'EngraversGothic', sans-serif;
    text-transform: uppercase;
    letter-spacing: 9px;
    color: white;
    text-decoration: none;
    margin-bottom: 14px;
    font-size: 0.8rem;
    width: 100%;
}

.grid a{
    text-decoration: none;
    color: inherit;
}

.character-container .character-selection .grid .character{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.character-container .character-selection .grid .character .image-placeholder{
    width: 220px;
    height: 290px;
    background-color: #dedede;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
}

.character-container .character-selection .grid .character:hover .image-placeholder{
    box-shadow: rgba(178, 117, 208, 0.4) 0px 5px, rgba(178, 117, 208, 0.3) 0px 10px, rgba(178, 117, 208, 0.2) 0px 15px, rgba(178, 117, 208, 0.1) 0px 20px, rgba(178, 117, 208, 0.05) 0px 25px;
}

.main-menu{
    position: relative;
}

/* Game Dashboard Page */
.menu-container {
    display: flex;
    align-items: stretch;
    height: 46px;
    /* position: absolute; */
}

.menu-container .left-border-shape{
    margin-right: -1px;
}

.menu-container .right-border-shape{
    margin-left: -1px;
    transform: scale(-1, 1);
}

.menu-content {
    background: white;
    height: 45.9px;
    min-width: 200px;
    width: 55vw;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-container .menu-content .left-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-top: -2px;
}

.menu-container .menu-content .left-side a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    letter-spacing: 5px;
    font-size: 0.9rem;
}

.menu-container .menu-content .left-side .seperator{
    background-color: #D6D6D6;
    width: 2px;
    height: 20px;
    font-size: 0.9rem;
}

.player-font{
    font-family: 'EngraversGothic', serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;
    /* margin-left: 10px; */
}

.hearts{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 3px;
}

.hearts .heart{
    width: 25px;
    height: 25px;
    background-image: url('./images/heart.png'); /* Updated path */
    background-size: cover;
    /* margin-right: 5px; */
}

.menu-container .menu-content .right-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 27%;
    margin-top: -2px;
}

.stat .flex{
    display: flex;
    align-items: center;
}

.stat .flex img{
    width: 30px;
    height: auto;
    margin-right: 9px;
}

/* Game Area */
.dashboard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    margin-top: 25px;
}

.chat-container{
    /* width: 15vw; */
    width: 220px;
    height: 91vh;
    display: flex;
    align-items: end;
    /* position: relative; */
    transition: margin-left 0.3s ease-in-out;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.chat-sidebar{
    width: 220px;
    height: 90vh;
    background-color: #ffffffd2;
    border-radius: 0px 20px 0px 0px ;
    transition: margin-left 0.3s ease-in-out;
        backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari support */
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  max-height: 570px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.chat-message .player-font{
    font-family: 'EngraversGothic', serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #f6265a;
    font-size: 0.9rem;
}

.chat-message p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-top: 2px;
    margin-bottom: 0px;
}

/* Target the vertical scrollbar */
.chat-messages::-webkit-scrollbar {
  width: 8px; /* Adjust width */
}

/* Remove the up/down arrows (default behavior) */
.chat-messages::-webkit-scrollbar-button {
  display: none;
}

/* Scrollbar track (background) */
.chat-messages::-webkit-scrollbar-track {
  background: transparent; /* or any light color */
}

/* Scrollbar thumb (the draggable part) */
.chat-messages::-webkit-scrollbar-thumb {
  background-color: #f6265ae2;
  border-radius: 10px;
  max-width: 2px;
}

/* Optional: On hover */
.chat-messages::-webkit-scrollbar-thumb:hover {
  background-color: #d01e4c;
}


.chat-container-inner {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chat-message {
  /* background-color: white; */
  padding: 6px 10px;
  border-radius: 6px;
  /* box-shadow: 0 1px 2px rgba(0,0,0,0.1); */
}

.chat-drawer{
    width: 180px;
    height: 30px;
    background-color: #ffffffd2;
    border-radius: 60px 60px 00px 0px;
    transform: rotate(90deg);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-left: 145px;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: margin-left 0.3s ease-in-out;
}

.chat-drawer p{
    color: black;
    transition: all 0.3s ease-in-out;
}

.chat-drawer p:hover{
    color: #F6265A;
}

.closed{
    margin-left: -220px;
    transition: margin-left 0.3s ease-in-out;
}

.game-area{
    width: 70vw;
    margin-left: 6vw;
    aspect-ratio: 16 / 9; /* or 4 / 3, 1 / 1, etc. */
    /* height: 86vh; */
    background-color: darkgray;
}

.player-stats-sidebar{
    width: 15vw;
    height: 91vh;
    background-color: #ffffffd2;
    /* position: fixed; */
    bottom: 0;
    border-radius: 20px 0px 0px 20px ;
}

.player-stats-down{
    width: 100vw;
    min-height: 100px;
    background-color: #ffffffd2;
    /* position: fixed; */
    bottom: 0;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
}

.player-stats-down .player-stat{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-stats-down .player-stats{
    margin-left: 20px;
}

@media  screen and (min-width: 1200px) {
    .player-stats-down{
        display: none;
    }
}

.player-stats-sidebar .player-stat{
    padding: 15px 35px 15px 30px;
}

.player-stat .player-stats {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
}

.player-stat .player-stats .stat {
    height: 40px;
    font-weight: normal;
}

.player-stat .player-stats .stat {
    display: flex;
    align-items: center;
}

.player-stat .player-stats .stat .flex img {
    width: 23px;
    height: auto;
    margin-right: 20px;
}
.player-stat .player-stats .stat h3 {
    font-weight: normal;
}

.player-name .player-font{
    font-size: 1rem;
    font-weight: normal;
}

.player-name .hearts{
    margin-top: -10px;
    margin-left: 20px;
}

.input-form{
    width: 100%;
    background-color: white;
    height: 60px;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-form form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-form form input{
    border: none;
    background-color: transparent;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    width: 90%;
}

.input-form form button{
    border: none;
    background-color: transparent;
}

.input-form form img{
    width: 20px;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.input-form form img:hover{
    opacity: 1;
}

@media screen and (max-width: 900px) {
    .splash-screen .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .splash-screen .logo-container img{
        width: 90vw;
        height: auto;
        animation: fadeIn 2s ease-in-out;
    }
}

@media screen and (max-width: 1200px) {
    .menu-content {
        width: 80vw;
    }
    .player-stats-sidebar{
        display: none;
    }
    .game-area {
        width: 70vw;
        margin-left: 15vw;
        aspect-ratio: 16 / 9;
        /* height: 86vh; */
        background-color: darkgray;
    }
}

@media screen and (max-width: 860px) {
    .menu-container .menu-content .left-side {
        width: 40%;
    }
    .menu-container .menu-content .right-side {
        width: 35%;
    }
    .menu-container .menu-content .left-side p{
        display: none;
    }
    .player-stats-down .player-stat {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .player-stats-down {
        min-height: 250px;
    }
}

@media screen and (max-width: 700px) {
    .menu-container .menu-content .left-side {
        width: 50%;
    }
    .menu-container .menu-content .right-side {
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    .menu-container .menu-content .left-side {
        width: 55%;
    }
    .menu-container .menu-content .right-side {
        width: 40%;
    }

    .stat .flex img {
        width: 20px;
        height: auto;
        margin-right: 9px;
    }

    .stat .flex h3 {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 400px) {
    .menu-container .menu-content .left-side {
        width: 55%;
    }

    .menu-container .menu-content .left-side a{
        display: none;
    }
    .menu-container .menu-content .left-side .seperator{
        display: none;
    }
    .menu-container .menu-content .right-side {
        width: 60%;
    }
    .menu-content {
        width: 70vw;
    }
    .stat .flex img {
        width: 20px;
        height: auto;
        margin-right: 9px;
    }

    .stat .flex h3 {
        font-size: 0.9rem;
    }
}